.thai{
    font-family: 'Kanit', sans-serif;
}
.uk-ext-totop{
    position: fixed;
    bottom: 20px;
    right: 30px;
}
.uk-ext-margin-m{
    margin: 15px;
}
.uk-ext-margin-ms{
    margin: 8px 4px;
  
}
.uk-navbar-container{
    background-color: black !important;
    padding: -20px !important;
    margin: -40px !important;
}
.uk-margin-botton-nav{
    margin-right: 20px;
}
.uk-ext-img-m{
    width: 50%;
}
.uk-ext-aboutimg{
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgb(26, 26, 32);
}
.uk-ext-marginrev-10{
    margin-top: 23px ;
    margin-bottom: -70px !important ;
}
.uk-navbar-nav{
    margin-top: 0px ;
    margin-bottom: -30px !important;
    padding-bottom: -20px !important;
}
.uk-ext-headcounttitle{
    margin: 12px;
}
.uk-container{
    margin-top: 50px;
}
.uk-ext-bata-warning{
    font-size: small;
}
.kasp-container{
    margin-top: 50px;
}